.main {
  display: flex;
}

.wrapper-intro-bird {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 32px;
}

.intro-title {
  padding: 10px 18px;
  background-color: rgba(85, 124, 163, 0.2);
  font-family: "Quicksand", sans-serif;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  color: #0c1c23;
  margin: 16px;
}

.intro-image {
  padding: 10px 18px;
  background-image: url(../images/birds.jpg);
  flex-grow: 1;
  border-radius: 12px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.intro-text {
  background-color: #555ba392;
  padding: 16px;
  border-radius: 16px;
  margin-top: 30%;
  font-family: "Quicksand", sans-serif;
}
.hidden {
  display: none;
}

.wrapper-bird {
  background-color: #555ca3;
  padding: 16px;
  border-radius: 32px;
  transform: scale(0.8);
  transition: transform 0.3s ease-in-out;
  transform-origin: center;
  width: 80%;
  margin: 16px auto;
}

.wrapper-bird:not(.hidden) {
  transform: scale(1);
}

.image-bird img {
  height: auto;
  width: 30%;
  border-radius: 16px;
}

.name-bird h2 {
  font-family: "Quicksand", sans-serif;
  margin: 12px 0;
}

.short-description-bird,
.description-bird {
  margin-top: 16px;
  font-family: "Quicksand", sans-serif;
  line-height: 1.6;
  font-size: 1.2rem;
}

.read-more-bird {
  padding: 12px 18px;
  background-color: rgba(255, 255, 255, 0.25);
  color: #122630;
  font-family: "Quicksand", sans-serif;
  font-size: 1.4rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: transform 0.3s, background-color 0.25s;
  margin: 16px;
}

.read-more-bird:hover {
  transform: scale(1.07);
  background-color: rgba(255, 255, 255, 0.4);
}

.sidebar-animals-button {
  padding: 12px 18px;
  background-color: rgba(255, 255, 255, 0.25);
  color: #122630;
  font-family: "Quicksand", sans-serif;
  font-size: 1.4rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: transform 0.3s, background-color 0.25s;
  margin: 16px;
}

.sidebar-animals-button:hover {
  transform: scale(1.07);
  background-color: rgba(255, 255, 255, 0.4);
}
