* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Quicksand", sans-serif;
}

.header {
  padding: 20px 25px;
  background-color: #43bf67;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 120px;
  width: auto;
}

.nav-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.nav-list li {
  display: flex;
}

.links-center {
  display: flex;
  justify-content: center;
  flex: 1;
  font-size: 2rem;
}

.nav-option {
  padding: 10px 18px;
  background-color: rgba(85, 124, 163, 0.2);
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  color: #0c1c23;
  text-decoration: none;
  transition: transform 0.3s;
}

.nav-option:hover {
  transform: scale(1.07);
}

.container {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}

.sidebar {
  flex: 20%;
  background-color: #f36a64;
}

.main, .main-animal{
  flex: 80%;
  background-color: #122630;
}

.main {
  display: none;
  position: relative;
}

.main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  color: rgb(213, 210, 210);
  position: absolute;
  z-index: 1000;
}

.main-title, .main-subtitle {
  padding-left: 8vw;
  letter-spacing: 4px;
}

.main-title {
  font-size: 4rem;
}

.main-subtitle {
  color: #557ca3;
  font-weight: bolder;
  font-size: 1.8rem;
}

.hero-image {
  background-image: url("../images/australia.jpg");
  background-size: cover;
  position: absolute;
  z-index: 500;
  height: 80%;
  width: 60%;
  right: 0;
  border-radius: 0% 100% 0% 100% / 0% 0% 100% 100%;
  opacity: 0.9;
}

.hero-grey-blob {
  background-color: #557ca3;
  position: absolute;
  z-index: 400;
  height: 70%;
  width: 70%;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  opacity: 0.1;
  top: 10vh;
  left: 20vw;
  aspect-ratio: 1 / 1;
}

.main-animal {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.main-animal-grid {
  display: grid;
  gap: 10px;
  grid-template: repeat(3, 1fr) / repeat(4, 1fr);
  grid-template-areas:
  "animal-image animal-image animal-title animal-title"
  "animal-image animal-image animal-diet animal-class"
  "animal-description animal-description animal-description animal-description"
  ;
  color: rgb(213, 210, 210);
  height: 100%;
  width: 80%;
}

.main-animal-content {
  grid-area: animal-title;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.main-animal-image {
  grid-area: animal-image;
  display: block;
}

.main-animal-image img {
  display: block;
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
  border-radius: 15px;
}

.main-animal-diet {
  grid-area: animal-diet;
}

.main-animal-class {
  grid-area: animal-class;
}

.main-animal-class h2{
  padding-bottom: 65px;
}


.main-animal-class a {
  background-color: #43BF67;
  width: auto;
  padding: 10px 18px;
  border-radius: 12px;
  margin-bottom: 35px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  color: rgb(213, 210, 210);
}

.main-animal-short-description {
  grid-area: animal-description;
  padding-left: 15px;
  padding-top: 15px;
}

.main-animal-title, .main-animal-image, .main-animal-diet, .main-animal-class, .main-animal-short-description, .main-animal-content {
  background-color: #557ca3;
  border-radius: 15px;
}

.main-animal-class, .main-animal-diet, .main-animal-short-description {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
}

.footer {
  padding: 24px;
  background-color: #43BF67;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
  padding: 24px;
}

.footer-copyright {
  font-size: 24px;
  padding-top: 10px;
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: end;
}

.footer img {
  width: 40px;
}