* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 24px;
  background-color: #43BF67;
}

.container {
  flex-grow: 1;
  display: flex; 
  flex-wrap: wrap;
}

.sidebar {
  flex: 20%;
  background-color: #f36a64;
}

.main {
  flex: 80%;
  background-color: #122630;
  position: relative;
}

.main-content {
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  color: rgb(213, 210, 210);
  position: absolute;
  z-index: 1000;
}

.main-title, .main-subtitle {
  padding-left: 8vw;
  letter-spacing: 4px;
}

.main-title {
  font-size: 4rem;
}

.main-subtitle {
  color: #557ca3;
  font-weight: bolder;
  font-size: 1.8rem;
}

.hero-image {
  background-image: url("../images/australia.jpg");
  background-size: cover;
  position: absolute;
  z-index: 500;
  height: 80%;
  width: 60%;
  right: 0;
  border-radius: 0% 100% 0% 100% / 0% 0% 100% 100%;
  opacity: 0.9;
}

.hero-grey-blob {
  background-color: #557ca3;
  position: absolute;
  z-index: 400;
  height: 70%;
  width: 70%;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  opacity: 0.1;
  top: 10vh;
  left: 20vw;
  aspect-ratio: 1 / 1;
}

.footer {
  padding: 24px;
  background-color: #43BF67;
}