* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 20px 25px;
  background-color: #43bf67;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.logo {
  height: 80px;
  width: auto;
  border-radius: 50px;
}

.links-center {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex: 1;
  font-size: 2rem;
}

.nav-option {
  padding: 10px 18px;
  background-color: rgba(85, 124, 163, 0.2);
  font-family: "Quicksand", sans-serif;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  color: #0c1c23;
  text-decoration: none;
  transition: transform 0.3s;
}

.nav-option:hover {
  transform: scale(1.07);
}

.container {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}

.sidebar {
  flex: 20%;
  background-color: #f36a64;
}

.main {
  flex: 80%;
  background-color: #122630;
}

.footer {
<<<<<<< HEAD
  padding: 24px;
  background-color: #43bf67;
}
=======
  background-color: #43BF67;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  padding: 24px;
}

.footer-copyright {
  font-size: 24px;
  padding-top: 10px;
}

.footer-wrapper {
  display: flex;
  gap: 16px;
  justify-content: end;
}
>>>>>>> d1a0293f5b3106556e97a99c25a285814a359894
