* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Quicksand", sans-serif;
}

.header {
  padding: 20px 25px;
  background-color: #43bf67;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 120px;
  width: auto;
}

.nav-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.nav-list li {
  display: flex;
}

.links-center {
  display: flex;
  justify-content: center;
  flex: 1;
  font-size: 2rem;
}

.nav-option {
  padding: 10px 18px;
  background-color: rgba(85, 124, 163, 0.2);
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  color: #0c1c23;
  text-decoration: none;
  transition: transform 0.3s;
}

.nav-option:hover {
  transform: scale(1.07);
}

.container {
  flex-grow: 1;
  display: flex;
  background-color: #122630;
}

.sidebar {
  flex: 20%;
  background-color: #f36a64;
}

.sidebar-animals {
padding-left: 0;
text-align: center;
}

.sidebar-animals-button {
  padding: 12px 18px;
  background-color: rgba(255, 255, 255, 0.25);
  color: #122630;
  font-family: "Quicksand", sans-serif;
  font-size: 1.4rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: transform 0.3s, background-color 0.25s;
  margin: 16px;
  list-style-type: none;
}

.sidebar-animals-button:hover {
  transform: scale(1.07);
  background-color: rgba(255, 255, 255, 0.4);
}

.main.active, .main-animal.active{
  flex: 80%;
}

.main.active {
  position: relative;
  display: flex;
}

.main {
  display: none;
}

.main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  color: rgb(213, 210, 210);
  position: absolute;
  z-index: 1000;
}

.main-title, .main-subtitle {
  padding-left: 5vw;
  letter-spacing: 4px;
}

.main-title {
  font-size: 4rem;
}

.main-subtitle {
  color: #557ca3;
  font-weight: bolder;
  font-size: 1.5rem;
  text-wrap: wrap;
}

.hero-image {
  background-image: url("../images/australia.jpg");
  background-size: cover;
  position: absolute;
  z-index: 500;
  height: 80%;
  width: 60%;
  right: 0;
  border-radius: 0% 100% 0% 100% / 0% 0% 100% 100%;
  opacity: 0.9;
}

.main-animal {
  display: none;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.main-animal.active {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.main-animal-container {
  background-color: #557ca3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 60px;
  border-radius: 15px;
  width: 80%;
}

.main-animal-image {
  display: block;
}

.main-animal-image img {
  border-radius: 14% 86% 21% 79% / 59% 44% 56% 41%;
}

.main-animal-diet {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.main-animal-class {
  width: 100%;
  padding-bottom: 35px;
}

.main-animal-class h2 {
  padding-bottom: 15px;
}

.main-animal-class h2, .main-animal-diet h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: rgb(213, 210, 210);
  letter-spacing: 3px;
}

.main-animal-class p, .main-animal-diet p {
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

.main-animal-class a {
  background-color: #43BF67;
  width: auto;
  padding: 10px 18px;
  border-radius: 12px;
  margin-bottom: 35px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  color: #122630;
  font-weight: bold;
  letter-spacing: 2px;
}

.main-animal-short-description {
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: bold;
}

.footer {
  background-color: #43BF67;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
  padding: 24px;
}

.footer-copyright {
  font-size: 24px;
  padding-top: 10px;
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: end;
}

.footer img {
  width: 40px;
}

@media (min-width: 340px) and (max-width: 1024px) {

  .container {
    display: flex;
    flex-direction: column;
  }
  
  .main.active {
    position: static;
    flex-grow: 1;
    height: 70%;
  }

  .sidebar {
    flex: none;
    display: block;
  }

  .sidebar-animals,
  .sidebar-employee {
    display: flex;
    flex-direction: row;
    overflow: auto;
    white-space: nowrap;
  }

  .main.active, .main.none {
    flex: none;
    width: 100%;
  }

  .main-title {
    font-size: 2rem;
  }
  
  .main-content, .hero-image {
    position: static;
    width: 100%;
    height: auto;
  }

  .main-content {
    z-index: 0;
  }
  .main-subtitle {
    font-size: 1.2rem;
  }

  .hero-image {
    background-image: url("../images/australia.jpg");
    background-size: cover;
    position: static;
    z-index: 0;
  }
}