.main {
  display: flex;
}

.container {
  background-color: #122630;
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
}

.wrapper-reptiles {
  background-color: #557ca3;
  padding: 16px;
  border-radius: 32px;
  margin: 32px
}

.wrapper-reptiles:empty {
  display: none;
}

.sidebar-item {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  color: #122630;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: "Quicksand", sans-serif;
  font-size: 1.4rem;
  gap: 20px;
  margin: 20px;
  transition: transform 0.3s, background-color 0.25s;
  padding: 12px 18px;
}

.sidebar-item:hover {
  transform: scale(1.07);
  background-color: rgba(255, 255, 255, 0.4);
}

.reptiles-main {
  align-items: center;
  background-color: #122630;
  display: flex;
  flex-direction: column;
  flex: 80%;
}

.reptiles-intro {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 32px;
}

.reptiles-title {
  background-color: rgba(85, 124, 163, 0.2);
  padding: 10px 18px;
  font-family: "Quicksand", sans-serif;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  color: rgb(213, 210, 210);
  text-decoration: none;
  margin: 16px;
}

.reptiles-image {
  padding: 10px 18px;
  background-image: url(../images/reptiles.jpg);
  flex-grow: 1;
  border-radius: 12px;
  background-position: bottom;
  background-size: cover;
}

.general-info {
  background-color: #555ba392;
  border-radius: 16px;
  color: rgb(213, 210, 210);
  font-family: "Quicksand", sans-serif;
  margin: 48px;
  padding: 16px;
  margin-top: 30%;
}

.hide-intro {
  display: none;
}

.wrapper-image {
  height: auto;
  width: 40%;
  border-radius: 16px;
}

.wrapper-intro {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.read-more {
  padding: 12px 18px;
  background-color: rgba(255, 255, 255, 0.25);
  color: #122630;
  font-family: "Quicksand", sans-serif;
  font-size: 1.4rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: transform 0.3s, background-color 0.25s;
  margin: 16px;
}

.read-more:hover {
  transform: scale(1.07);
  background-color: rgba(255, 255, 255, 0.4);
}

.hidden-info {
  display: none;
}

.hidden-info.visible {
  display: block;
  opacity: 1;
}