.sidebar-item {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  color: #122630;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: "Quicksand", sans-serif;
  font-size: 1.4rem;
  gap: 20px;
  margin: 20px;
  transition: transform 0.3s, background-color 0.25s;
  padding: 12px 18px;
}

.sidebar-item:hover {
  transform: scale(1.07);
  background-color: rgba(255, 255, 255, 0.4);
}

.reptiles-main {
  align-items: center;
  background-color: #122630;
  display: flex;
  flex-direction: column;
  flex: 80%;
}

.reptiles-title {
  background-color: #f36a64;
  border-radius: 8px;
  margin: 48px;
  padding: 24px 120px 24px 120px;

}

.reptiles-image {
  justify-content: center;
}

.general-info {
  background-color: #f36a64;
  font-size: 1.2rem;
  margin: 48px;
  padding: 48px;
}

.content {
  background-color: #f36a64;
  display: none;
  margin: 16px;
  padding: 24px;

}

.active {
  background-color: red;
}

.main-content>div {
  background-color: #f36a64;
  display: none;
  padding: 24px;
  margin: 12px;
}