.tab {
  color: white;
  background-color: #122630;
  margin: 24px;
  padding: 16px;
}

.reptiles-title {
  background-color: #f36a64;
  margin: 48px;
  padding: 24px;
  text-align: center;
}

.reptiles-image {

}

.general-info {
  font-size: 2rem;
  margin: 48px;
  padding: 48px;
}

.content {
  background-color:#f36a64;
  display: none;
  margin: 16px;
  padding: 24px;

}

.active {
  background-color: red;
}