.tab {
  color: white;
  background-color: #122630;
  border-radius: 8px;
  margin: 24px;
  padding: 16px;
  text-align: center;
}

.reptiles-main {
  align-items: center;
  background-color: #122630;
  display: flex;
  flex-direction: column;
  flex: 80%;
}

.reptiles-title {
  background-color: #f36a64;
  border-radius: 8px;
  margin: 48px;
  padding: 24px 120px 24px 120px;

}

.reptiles-image {
  justify-content: center;
}

.general-info {
  background-color: #f36a64;
  font-size: 1.2rem;
  margin: 48px;
  padding: 48px;
}

.content {
  background-color:#f36a64;
  display: none;
  margin: 16px;
  padding: 24px;

}

.active {
  background-color: red;
}

.main-content > div {
  background-color: #f36a64;
  display: none;
  padding: 24px;
  margin: 12px;
}