.container {
  background-color: #122630;
  flex-wrap: nowrap;
}

.wrapper-reptiles {
  background-color: rgb(30, 81, 124);
  padding: 24px;
  margin: 24px;
}

.sidebar-item {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  color: #122630;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: "Quicksand", sans-serif;
  font-size: 1.4rem;
  gap: 20px;
  margin: 20px;
  transition: transform 0.3s, background-color 0.25s;
  padding: 12px 18px;
}

.sidebar-item:hover {
  transform: scale(1.07);
  background-color: rgba(255, 255, 255, 0.4);
}

.reptiles-main {
  align-items: center;
  background-color: #122630;
  display: flex;
  flex-direction: column;
  flex: 80%;
}

.reptiles-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reptiles-title {
  background-color: rgba(85, 124, 163, 0.2);
  border-radius: 8px;
  margin: 48px;
  padding: 24px 120px 24px 120px;

}

.reptiles-image {
  justify-content: center;
}

.general-info {
  background-color: #555ba392;
  color: white;
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  margin: 48px;
  padding: 48px;
}

.hide-intro {
  display: none;
}

.wrapper-image {
  height: 300px;
  border-radius: 50%;
}



.read-more {}

.read-more:hover {
  transform: scale(1.07);
  background-color: rgba(255, 255, 255, 0.4);
}

.hidden-info {
  display: none;
}

.hidden-info.visible {
  display: block;
  opacity: 1;
}