@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/notoSans/NotoSans-Regular.woff2") format("woff2"),
      url("../fonts/notoSans/NotoSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/notoSans/NotoSans-Italic.woff2") format("woff2"),
      url("../fonts/notoSans/NotoSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/quicksand/Quicksand-Light.woff2") format("woff2"),
      url("../fonts/quicksand/Quicksand-Light.woff2") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"),
      url("../fonts/roboto/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Italic.woff2") format("woff2"),
      url("../fonts/roboto/Roboto-Italic.woff2") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Zalando Sans SemiExpanded";
  src: url("../fonts/zalandoSansSemi/ZalandoSansSemiExpanded-Regular.woff2") format("woff2"),
      url("../fonts/zalandoSansSemi/ZalandoSansSemiExpanded-Regular.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zalando Sans SemiExpanded";
  src: url("../fonts/zalandoSansSemi/ZalandoSansSemiExpanded-Italic.woff2") format("woff2"),
      url("../fonts/zalandoSansSemi/ZalandoSansSemiExpanded-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}